/**
 * Collapsibility. Adapted from the Kumasi theme originally written by Development
 * Seed.
 */

ul.facetapi-collapsible {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background:#e8e8e8;
  border:1px solid #ddd;
  margin:0px 0px 5px;
  padding: 0 5px 0 10px;
}


ul.facetapi-collapsible li {
  list-style: none;
}

ul.facetapi-collapsible li.last,
ul.facetapi-collapsible li {
  padding:6px 4px 6px 9px;
  border-top: 1px solid #DDD;
}

ul.facetapi-collapsible li.first {
  border-top: none;
}
  
/* IE8 seems to require all of these selectors to be separated out */
ul.facetapi-collapsible li:first-child {
  border-color:#ddd;
  padding:4px 4px 4px 9px;
}

ul.facetapi-collapsible li:last-child {
  border-color:#ddd;
  padding:4px 4px 4px 9px;
}

ul.facetapi-collapsible li.first,
ul.facetapi-collapsible li.last,
ul.facetapi-collapsible li {
  border-color:#ddd;
  padding:4px 4px 4px 9px;
}

div.facetapi-collapsible div.facet-collapsible-wrapper { display:none; }

div.facetapi-collapsible .facetapi-facet-active,
div.facetapi-collapsible.expanded div.facet-collapsible-wrapper  { display:block; }

div.facetapi-collapsible ul.facetapi-collapsible .depth-1 { padding-left:10px; }
div.facetapi-collapsible ul.facetapi-collapsible .depth-2 { padding-left:20px; }
div.facetapi-collapsible ul.facetapi-collapsible .depth-3 { padding-left:30px; }

ul.facetapi-collapsible .facetapi-facet {
  display:block;
  min-height:20px; /* IE */
  position:relative;
  padding-right:30px;
}

div.facetapi-collapsible .block-title .facetapi-facet-title {
  background: transparent url('facet-collapse-icon.png') no-repeat 0 0;
  display: block;
  height: 18px;
  position: absolute;
  top: 10px;
  right: 9px;
  width: 21px;
}

div.facetapi-collapsible.expanded .block-title .facetapi-facet-title {
  background-position:0 -18px;
}

ul.facetapi-collapsible .facetapi-facet .remove,
ul.facetapi-collapsible .facetapi-facet .count {
  position:absolute;
  right:0px;
  top:0px;
  margin:0px;
}

div.facetapi-collapsible .facet-collapsible-wrapper .facetapi-facet .remove a {
  background:transparent url('facet-closer.png') no-repeat scroll 0 -18px;
  display:block;
  float: right;
  height: 18px;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 50%;
  width:21px;
  text-indent: -9999px;
}

div.facetapi-collapsible .facet-collapsible-wrapper .facetapi-facet .remove a:hover {
  background-position: 0 0;
}

ul.facetapi-collapsible .facetapi-facet .count {
  background-color:#ddd;
  padding:0px 8px;
  font-weight:bold;
  font-size:9px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.facet-collapsible-wrapper .facetapi-limit-link {
  background: #DDD;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display:block;
  font-weight: bold;
  font-size: 10px;
  margin: 0 5px 5px 10px;
  padding: 6px 4px 6px 9px;
  text-align: center;
  text-decoration: none;
}

.block-facetapi .facet-collapsible-wrapper .facetapi-limit-link:hover {
  background-color: #D6D6D6;
}